* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
}

body {
  background-image: url("../lib/rose-petals.png");
  /* background by SVGBackgrounds.com */
  background-size: cover;
}

button {
  background-color: #23a9a4;
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 3px 3px #9bfffc;
}

button:hover {
  background-color: #9bfffc;
  box-shadow: 3px 3px #23a9a4;
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #23a9a4;
}

#name {
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

#title-linksBox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#title {
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

#links {
  display: flex;
  gap: 5px;
  font-weight: bolder;
  font-size: 25px;
}

#aboutPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

#aboutLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 25%;
}

#avatar {
  max-height: 400px;
  background-color: rgb(240, 255, 255);
  border-radius: 50%;
  margin-bottom: 30px;
}

#aboutRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 50%;
  margin-right: 150px;
  margin-top: 50px;
}

#aboutMe {
  text-align: center;
  color: azure;
  font-size: 20px;
}

#tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#techTitle {
  color: azure;
  font-weight: bold;
  font-size: 20px;
}

#techStack {
  display: flex;
  font-size: 40px;
  color: rgb(178, 178, 178);
  gap: 10px;
}
